<!DOCTYPE html>
{% load static %}
<html lang="en">
 	
 	<head>
    	
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Personal CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" 
    	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    	crossorigin="anonymous">

    	<!-- Font Awesome 5 -->
    	<link rel="stylesheet" 
    	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    	crossorigin="anonymous">

    	<!-- Website Title  -->
    	<title>PPW Story 4 | Contact Page</title>

  	</head>

    <body>

        <!-- Bootstrap Header Jumbotron -->
        <div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0">
            <h1><strong>Primo Giancarlo | Bootstrap 4 Page</strong></h1>
            <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p> 
        </div>

        <!-- Bootstrap Sticky Navbar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            
            <!-- Navbar Brand/Logo -->
            <a class="navbar-brand" href="{% url 'homepage:index' %}"><strong>HOME</strong></a>

            <!-- Toggler/Collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:interests' %}">Interests</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">Contact</a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="container" style="margin-top:40px; margin-bottom:40px">
    
            <!-- Page Title -->
            <h1>Contact Information</h1>
            <hr>

             <!-- Bootstrap Grid System -->
            <div class="row">

                <!-- Bootstrap Responsive Column Span-4 -->
                <div class="col-sm-4">

                    <!-- Card Container -->
                    <div class="container my-3">

                        <!-- Turquoise Contact Card -->
                        <div class="card bg-info text-white">
                            <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                <i class="fas fa-phone-square fa-10x"></i>
                            </div>
                            <div class="card-body text-center">
                                <h2 class="card-text"><strong>CONTACT</strong></h2>
                                <hr>
                                <p class="card-text">How to get in contact.</p>
                                <p class="card-text">My social media profiles.</p>
                                <p class="card-text">Give me a little call maybe.</p>
                                <p class="card-text">I'm antisocial please help.</p>
                                <a href="{% url 'homepage:contact' %}" class="btn btn-primary stretched-link">See Info</a>
                            </div>
                        </div>  

                    </div>
                </div>

                <!-- Bootstrap Responsive Column Span-8 -->
                <div class="col-sm-8">

                    <!-- Card Column Container -->
                    <div class="container my-3">

                        <!-- Bootstrap Card Columns -->
                        <div class="card-columns">

                            <!-- First Contact (Phone) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fas fa-phone fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Phone Number:</strong></h5>
                                    <p class="card-text">+62-878-7878-9282</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">Call Me</a>
                                </div>
                            </div>

                            <!-- Second Contact (Email) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fas fa-envelope fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Email Address:</strong></h5>
                                    <p class="card-text">primo.uneputty@gmail.com</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">Email Me</a>
                                </div>
                            </div>

                            <!-- Third Contact (LINE) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-line fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Line ID:</strong></h5>
                                    <p class="card-text">primo.giancarlo</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">Add Me</a>
                                </div>
                            </div>

                            <!-- Fourth Contact (Twitter) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-twitter fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Twitter Account:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">No Twitter</a>
                                </div>
                            </div>  

                            <!-- Fifth Contact (Instagram) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-instagram fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Instagram Profile:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">No Instagram</a>
                                </div>
                            </div>

                            <!-- Sixth Contact (Facebook) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-facebook fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Facebook Page:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">No Facebook</a>
                                </div>
                            </div>

                            <!-- Seventh Contact (GitHub) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-gitlab fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>GitLab Repository:</strong></h5>
                                    <p class="card-text">https://gitlab.com/PrimoGU</p>
                                    <a href="https://gitlab.com/PrimoGU" class="btn btn-primary stretched-link">Join Me</a>
                                </div>
                            </div>

                            <!-- Eighth Contact (LinkedIn) -->
                            <div class="card bg-secondary text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-linkedin fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>LinkedIn Page:</strong></h5>
                                    <p class="card-text">This section is empty.</p>
                                    <a href="#" class="btn btn-primary disabled stretched-link">See Me</a>
                                </div>
                            </div>

                            <!-- Ninth Contact (Steam) -->
                            <div class="card bg-dark text-white">
                                <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                    <i class="fab fa-steam fa-4x"></i>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-text"><strong>Steam Name:</strong></h5>
                                    <p class="card-text">Accerelix</p>
                                    <a href="https://steamcommunity.com/id/acerrelix/" class="btn btn-primary stretched-link">Play With Me</a>
                                </div>
                            </div>
                        
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Bootstrap Footer Jumbotron -->
        <div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0">
            <p>This website is incomplete. All Rights reserved. Copyright @ 2019</p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>

    </body>

</html>