<!DOCTYPE html>
{% load static %}
<html lang="en">
 	
 	<head>
    	
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Personal CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" 
    	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    	crossorigin="anonymous">

    	<!-- Font Awesome 5 -->
    	<link rel="stylesheet" 
    	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    	crossorigin="anonymous">

    	<!-- Website Title  -->
    	<title>PPW Story 4 | Interests Page</title>

  	</head>

    <body>

        <!-- Bootstrap Header Jumbotron -->
        <div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0">
            <h1><strong>Primo Giancarlo | Bootstrap 4 Page</strong></h1>
            <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p> 
        </div>

        <!-- Bootstrap Sticky Navbar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            
            <!-- Navbar Brand/Logo -->
            <a class="navbar-brand" href="{% url 'homepage:index' %}"><strong>HOME</strong></a>

            <!-- Toggler/Collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="">Interests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="container" style="margin-top:40px; margin-bottom:40px">
    
            <!-- Page Title -->
            <h1>My Hobbies</h1>
            <hr>

            <!-- Bootstrap Grid System -->
            <div class="row">

                <!-- Bootstrap Responsive Column Span-4 -->
                <div class="col-sm-4">

                    <!-- Card Container -->
                    <div class="container my-3">

                        <!-- Green Interests Card -->
                        <div class="card bg-success text-white">
                            <div class="container" style="margin-top:30px; display:flex; justify-content:center">
                                <i class="fas fa-gamepad fa-10x"></i>
                            </div>
                            <div class="card-body text-center">
                                <h2 class="card-text"><strong>INTERESTS</strong></h2>
                                <hr>
                                <p class="card-text">My hobbies and interests</p>
                                <p class="card-text">What I do in my free time.</p>
                                <p class="card-text">How I alleviate boredom.</p>
                                <p class="card-text">Things you shouldn't do.</p>
                                <a href="{% url 'homepage:interests' %}" class="btn btn-primary stretched-link">See Hobbies</a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Bootstrap Responsive Column Span-8 -->
                <div class="col-sm-8">

                    <!-- List Group Container -->
                    <div class="container my-3">

                        <!-- Bootstrap List Group -->
                        <ul class="list-group list-group-flush">

                            <!-- First Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-headphones fa-3x fa-pull-left"></i>
                                        <h4><strong>Listening to soothing music to cleanse my soul.</strong></h4>
                                        <h5>Mostly Indie music and songs from the 20th century. </h5>
                                </div>
                            </li>

                            <!-- Second Hobby -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fab fa-reddit fa-3x fa-pull-left"></i>
                                        <h4><strong>Browsing through the dark halls of Reddit.</strong></h4>
                                        <h5>Mostly looking at stupid memes and random things.</h5>
                                </div>
                            </li>

                            <!-- Third Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fab fa-steam fa-3x fa-pull-left"></i>
                                        <h4><strong>Playing online and offline games on Steam.</strong></h4>
                                        <h5>Mostly just Counter-Strike and Just Cause.</h5>
                                </div>
                            </li>

                            <!-- Fourth Hobby -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-book fa-3x fa-pull-left"></i>
                                        <h4><strong>Reading useless novels and books for knowledge.</strong></h4>
                                        <h5>Mostly those fantasy novels and maybe sci-fi too.</h5>
                                </div>
                            </li>

                            <!-- Fifth Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fab fa-youtube fa-3x fa-pull-left"></i>
                                        <h4><strong>Watching random education videos on YouTube.</strong></h4>
                                        <h5>Mostly videos from Real Life Lore and Real Engineering.</h5>
                                </div>
                            </li>

                            <!-- Sixth Hobby -->
                            <li class="list-group-item list-group-item-secondary">
                                <div class="container my-2">
                                    <i class="fas fa-mobile-alt fa-3x fa-pull-left"></i>
                                        <h4><strong>Playing around on my phone to relieve boredom.</strong></h4>
                                        <h5>Mostly just looking through my social media accounts.</h5>
                                </div>
                            </li>

                            <!-- Seventh Hobby -->
                            <li class="list-group-item list-group-item-dark">
                                <div class="container my-2">
                                    <i class="fas fa-brain fa-3x fa-pull-left"></i>
                                        <h4><strong>Contemplating the reason for our existence.</strong></h4>
                                        <h5>Sometimes I get both philosophical and suicidal at once.</h5>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <!-- Bootstrap Footer Jumbotron -->
        <div class="jumbotron jumbotron-fluid text-center" style="margin-bottom:0">
            <p>This website is incomplete. All Rights reserved. Copyright @ 2019</p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>

    </body>

</html>